<!DOCTYPE html>
<html>

<head>
    <title>Mis Mascotas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Diario de Mascotas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                      </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/profile/pets">Mis Mascotas</a></li>
                                <li><a class="dropdown-item" href="/profile">Mis Datos</a></li>
                                <li><a class="dropdown-item" href="/#">Adopción</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" active href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <br></br>
    <section id="content">
        <div class="container-fluid">
            <div class="row white-box-transparent">
                <div class="col-12">
                    <!--Nombre usuario-->
                    <div class="row name-viewer-home">
                        <div id="nombreUsuario" class="col-6"></div>
                        <!-- aca abro un script y agrego el nombre del usuario-->
                        <h3>Mis Mascotas</h3>
                    </div>
                    <!-- boton agregar mascotas-->
                    <div class="col-12 text-right">
                        <div class="top-user-info">
                            <button id="agregar-mascota-button" type="button" class="btn btn-primary">Agregar Mascota
                                    <i class="fas fa-plus"></i>
                                </button>
                        </div>
                    </div>
                    <!--A el usuario le aparecerà una tabla con sus mascotas y algunos datos. Tendra opcion de ver, editar y controles -->
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tabla-mascotas" class="table table-lifht table-bordered table-hover table-striped">
                                <thead class="bg-dark text-white">
                                    <th scope="row">ID</th>
                                    <th scope="row">Nombre</th>
                                    <th scope="row">Especie</th>
                                    <th scope="row">Raza</th>
                                    <th scope="row">Sexo</th>
                                    <th scope="row">Controles</th>
                                    <th scope="row">Editar</th>
                                    <th scope="row">Ver</th>
                                </thead>
                                <tbody id="tBody-mascotas"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--VER MASCOTAS-->
    <div class="bg-modal">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">Perfil Mascota</div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/ver-mascota-usuario" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre Mascota</span>
                                    <input id="view_nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Mascota" aria-label="nombre_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Especie Mascota</span>
                                    <input id="view_especie" name="especie" type="text" class="form-control" placeholder="Especie Mascota" aria-label="especie_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Sexo Mascota</span>
                                    <input id="view_sexo" name="sexo" type="text" class="form-control" placeholder="Raza Mascota" aria-label="raza_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Raza Mascota</span>
                                    <input id="view_razacolor" name="raza" type="text" class="form-control" placeholder="Raza Mascota" aria-label="raza_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Nacimiento</span>
                                    <input id="view_fechanacimiento" name="fechanacimiento" type="text" class="form-control" placeholder="Fecha de Naciemiento Mascota" aria-label="fnacimiento_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">¿Está Chipeado?</span>
                                    <input id="view_tienechip" name="tienechip" type="text" class="form-control" placeholder="ID Mascota" aria-label="chip_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">¿Desparasitado?</span>
                                    <input id="view_desparasitado" name="desparasitado" type="text" class="form-control" placeholder="ID Mascota" aria-label="chip_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">¿Esterilizado?</span>
                                    <input id="view_esterilizado" name="esterilizado" type="text" class="form-control" placeholder="ID Mascota" aria-label="chip_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción</span>
                                    <input id="view_descripcion" name="descripcion" type="text" class="form-control" placeholder="ID Mascota" aria-label="chip_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Estado</span>
                                    <input id="view_estado" name="estado" type="text" class="form-control" placeholder="ID Mascota" aria-label="chip_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a role="button" href="/editar-mascota-usuario" class="btn btn-primary">
                                <i class="far fa-edit"></i> Editar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close">+</div>
        </div>
    </div>

    <!--AGREGAR MASCOTAS-->
    <div class="bg-modal2">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Agregar Mascota
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/add-new-mascota" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre</span>
                                    <input id="add_nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Mascota" aria-label="nombre_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Especie</span>
                                    <input id="add_especie" name="especie" type="text" class="form-control" placeholder="Especie Mascota" aria-label="especie_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Sexo</span>
                                    <select id="add_sexo" name="sexo" class="form-select" placeholder="Seleccione una opción" aria-label="Sexo Mascota">
                                        <option>Hembra</option>
                                        <option>Macho</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Raza Mascota</span>
                                    <input id="add_razacolor" name="razacolor" type="text" class="form-control" placeholder="Raza Mascota" aria-label="raza_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Nacimiento</span>
                                    <input id="add_fechanacimiento" name="fechanacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento Mascota" aria-label="fnacimiento_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción Mascota</span>
                                    <input id="add_descripcion" name="descripcion" type="text" class="form-control" placeholder="Agregue una descripción" aria-label="color_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Chip ID</span>
                                    <select id="add_tienechip" name="tienechip" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Esterilizada(o)</span>
                                    <select id="add_esterilizado" name="esterilizado" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Desparasitada(o)</span>
                                    <select id="add_desparasitado" name="desparasitado" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Estado</span>
                                    <select id="add_estado" name="estado" class="form-select" aria-label="Estado Mascota">
                                        <option>Activo</option>
                                        <option>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="add-mascota-button-popup" class="btn btn-primary">
                                <div id="contentButton-addMascota">
                                    <i class="fas fa-plus"></i>
                                        Agregar Mascota
                                </div>
                            </button>
                        </div>
                </div>
                </form>
            </div>
            <div class="close2">+</div>
        </div>
    </div>

    <!--EDITAR MASCOTAS-->
    <div class="bg-modal3">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Editar Mascota
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/editar-mascota-usuario" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Código ID</span>
                                    <input id="edit_id" name="id" type="text" class="form-control" placeholder="ID Mascota" aria-label="nombre_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre Mascota</span>
                                    <input id="edit_nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Mascota" aria-label="nombre_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Especie Mascota</span>
                                    <input id="edit_especie" name="especie" type="text" class="form-control" placeholder="Especie Mascota" aria-label="especie_mascota_add" aria-describedby="addon-wrapping" readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Sexo Mascota</span>
                                    <select id="edit_sexo" name="sexo" class="form-select" aria-label="Sexo Mascota">
                                            <option>Hembra</option>
                                            <option>Macho</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Raza Mascota</span>
                                    <input id="edit_razacolor" name="razacolor" type="text" class="form-control" placeholder="Raza Mascota" aria-label="raza_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Nacimiento</span>
                                    <input id="edit_fechanacimiento" name="fechanacimiento" type="text" class="form-control" placeholder="Fecha de Naciemiento Mascota" aria-label="fnacimiento_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción Mascota</span>
                                    <input id="edit_descripcion" name="descripcion" type="text" class="form-control" placeholder="Agrege una descripción" aria-label="color_mascota_add" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Chip ID</span>
                                    <select id="edit_tienechip" name="tienechip" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option value= Si >Si</option>
                                        <option value= No >No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Esterilizada(o)</span>
                                    <select id="edit_esterilizado" name="esterilizado" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option value= Si >Si</option>
                                        <option value= No >No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Desparacitada(o)</span>
                                    <select id="edit_desparasitado" name="desparasitado" class="form-select" placeholder="Seleccione una opción" aria-label="Estado Mascota">
                                        <option value= Si >Si</option>
                                        <option value= No >No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Estado</span>
                                    <select id="edit_estado" name="estado" class="form-select" aria-label="Estado Mascota">
                                        <option value= Activo >Activo</option>
                                        <option value= Inactivo >Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="edit-mascota-button" class="btn btn-primary">
                                <div id="contentButton-editMascota">
                                    <i class="far fa-save"></i> 
                                        Guardar Cambios
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close3">+</div>
        </div>
    </div>
    <form action='/ver-controles' id="hiddenform" method="POST">
        <input type=hidden id='ver-controles' name='idmascota'>
    </form>

    <script>
        const mascotas = <%-JSON.stringify(mascotas)%>;
        console.log(mascotas)

        function FillPageWithPets(mascotas) {
            let tBodypets = document.getElementById("tBody-mascotas"); //Obten la tabla

            for (let i = 0; i < mascotas.length; i++) {
                //Inserta una nueva fila en la tabla 
                let newPetRowRef = tBodypets.insertRow(-1);

                //Columnas
                let newIdPetColRef = newPetRowRef.insertCell(-1);
                let newNombrePetColRef = newPetRowRef.insertCell(-1);
                let newEspeciePetColRef = newPetRowRef.insertCell(-1);
                let newRazaPetColRef = newPetRowRef.insertCell(-1);
                let newSexoPetColRef = newPetRowRef.insertCell(-1);

                let newControlsColRef = newPetRowRef.insertCell(-1);
                let newEditarColRef = newPetRowRef.insertCell(-1);
                let newVerMasColRef = newPetRowRef.insertCell(-1);

                newIdPetColRef.textContent = mascotas[i].id;
                newNombrePetColRef.textContent = mascotas[i].nombre;
                newEspeciePetColRef.textContent = mascotas[i].especie;
                newRazaPetColRef.textContent = mascotas[i].razacolor;
                newSexoPetColRef.textContent = mascotas[i].sexo;

                newControlsColRef.innerHTML = '<button type="button" id=button-edit' + i + ' onclick="verControles(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i>Ver</button>'
                newEditarColRef.innerHTML = '<button type="button"  id=button-edit-' + i + ' onClick="editPetsPopup(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Editar</button>';
                newVerMasColRef.innerHTML = '<button type="button"  id=button-edit-' + i + ' onClick="viewPetPopup(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Ver más </button>';
            }

        }
        FillPageWithPets(mascotas);

        function verControles(id) {
            console.log("ENVIA ESTO --> ", id);
            document.getElementById('ver-controles').value = id;
            console.log(document.getElementById('ver-controles').value)
            document.getElementById('hiddenform').submit();
        }

        function editPetsPopup(pet1) {
            document.querySelector(".bg-modal3").style.display = "flex";
            var pet2 = pet1.split("-");
            document.getElementById('edit_id').value = mascotas[(parseInt(pet2[2]))].id;
            document.getElementById('edit_nombre').value = mascotas[(parseInt(pet2[2]))].nombre;
            document.getElementById('edit_especie').value = mascotas[(parseInt(pet2[2]))].especie;
            document.getElementById('edit_sexo').value = mascotas[(parseInt(pet2[2]))].sexo;
            document.getElementById('edit_razacolor').value = mascotas[(parseInt(pet2[2]))].razacolor;
            document.getElementById('edit_fechanacimiento').value = mascotas[(parseInt(pet2[2]))].fechanacimiento;
            document.getElementById('edit_descripcion').value = mascotas[(parseInt(pet2[2]))].descripcion;
            document.getElementById('edit_tienechip').value = mascotas[(parseInt(pet2[2]))].tienechip;
            document.getElementById('edit_esterilizado').value = mascotas[(parseInt(pet2[2]))].esterilizado;
            document.getElementById('edit_desparasitado').value = mascotas[(parseInt(pet2[2]))].desparasitado;
            document.getElementById('edit_estado').value = mascotas[(parseInt(pet2[2]))].estado;
            //Activando panel de editar
        }

        function viewPetPopup(pet1) {
            document.querySelector(".bg-modal").style.display = "flex";
            var pet2 = pet1.split("-");
            console.log(mascotas[(parseInt(pet2[2]))]);
            document.getElementById('view_nombre').value = mascotas[(parseInt(pet2[2]))].nombre;
            document.getElementById('view_especie').value = mascotas[(parseInt(pet2[2]))].especie;
            document.getElementById('view_sexo').value = mascotas[(parseInt(pet2[2]))].sexo;
            document.getElementById('view_razacolor').value = mascotas[(parseInt(pet2[2]))].razacolor;
            document.getElementById('view_fechanacimiento').value = mascotas[(parseInt(pet2[2]))].fechanacimiento;
            document.getElementById('view_descripcion').value = mascotas[(parseInt(pet2[2]))].descripcion;
            document.getElementById('view_tienechip').value = mascotas[(parseInt(pet2[2]))].tienechip;
            document.getElementById('view_esterilizado').value = mascotas[(parseInt(pet2[2]))].esterilizado;
            document.getElementById('view_desparasitado').value = mascotas[(parseInt(pet2[2]))].desparasitado;
            document.getElementById('view_estado').value = mascotas[(parseInt(pet2[2]))].estado;
        }

        //Cuando se haga click al boton agregar en nueva mascota
        document.getElementById("agregar-mascota-button").addEventListener("click",
            function() {
                document.querySelector(".bg-modal2").style.display = "flex";
            }); //activar panel

        //Al hacer click en close2 se cerrara el modal2 y se vaciaran los campos que contiene este.
        document.querySelector(".close2").addEventListener("click",
            function() {
                document.querySelector('.bg-modal2').style.display = "none";
                document.getElementById('nombre').value = "";
                document.getElementById('especie').value = "";
                document.getElementById('sexo').selectedIndex = 0
                document.getElementById('razacolor').value = "";
                document.getElementById('fechanacimiento').value = "";
                document.getElementById('descripcion').value = "";
                document.getElementById('tienechip').value = 0;
                document.getElementById('esterilizado').value = 0;
                document.getElementById('desparasitado').value = 0;
                document.getElementById('estado').selectedIndex = 0
            });


        document.querySelector(".close").addEventListener("click",
            function() {
                document.querySelector('.bg-modal').style.display = "none";
            });
        document.querySelector(".close3").addEventListener("click",
            function() {
                document.querySelector('.bg-modal3').style.display = "none";
            });
    </script>
</body>

</html>