<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section id="content">
            <div class="container-fluid">
                <div class="row white-box-transparent">
                    <div class="col-12">
                        <!--Nombre usuario-->
                        <div class="row name-viewer-home">
                            <div id= nombreUsuario class="col-6"></div>
                        <!-- aca abro un script y agrego el nombre del usuario-->
                        </div>
                        <!-- boton agregar mascotas-->
                        <div class="col-12 text-right">
                            <div class="top-mascotas-info">
                                <button id=agregar-mascota-button type="button" class="btn btn-primary">Agregar Mascota
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!--Lo que puede ver el usuario de sus mascotas-->
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>