<!DOCTYPE html>
<html>

<head>
    <title>Diario de Mascotas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand"">Diario de Mascotas:</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/vet">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Opciones
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/vet/">Mis Datos</a></li>
                                <li><a class="dropdown-item" href="/vet/pets">Mascotas de Institución</a></li>
                                <li><a class="dropdown-item" href="/vet/controls">Manejar Controles</a></li>
                                <li><a class="dropdown-item" href="/vet/adopcion">Dar en Adopción</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" active href="/logout">Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section id="content">
        <div class="container-fluid">
            <div class="row white-box-transparent">
                <div class="col-12">
                    <!--Nombre usuario-->
                    <div class="row name-viewer-home">
                        <div id=nombreUsuario class="col-6"></div>
                        <!-- aca abro un script y agrego el nombre del usuario-->
                        <h3>Mis Datos</h3>
                    </div>

                    <!--perfil del usuario-->
                    <div class="col-12">
                        <form action="/info-vet" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre Completo</span>
                                        <input id="view_nombre" name="nombrecompleto" type="text" class="form-control" placeholder="Nombre completo" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Rut</span>
                                        <input id="view_rut" name="rut" type="text" class="form-control" placeholder="Rut" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Correo Electrónico</span>
                                        <input id="view_correo" name="correo" type="email" class="form-control" placeholder="Correo electrónico" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Nacimiento</span>
                                        <input id="view_fechanacimiento" name="fechanacimiento" type="date" class="form-control" placeholder="Fecha de nacimiento" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Teléfono</span>
                                        <input id="view_telefono" name="telefono" type="text" class="form-control" placeholder="9XXXXXXXX" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Dirección</span>
                                        <input id="view_direccion" name="direccion" type="text" class="form-control" placeholder="Dirección" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Región</span>
                                        <input id="view_ubicacion" name="ubicacion" type="text" class="form-control" placeholder="Región de procedencia" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción</span>
                                        <input id="view_descripcion" name="descripcion" type="text" class="form-control" placeholder="Agrege una descripción" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Institución Asociada</span>
                                        <input id="view_institucion" name="rutinstitucion" type="text" class="form-control" placeholder="Rut Institucion" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Especialidad</span>
                                        <input id="view_especialidad" name="especialidad" type="text" class="form-control" placeholder="Especialidad Veterinario" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="padding-top: 5px;">
                                <button type="button" id="edit-vet-button" class=" btn btn-primary">
                                        <i class="far fa-edit"></i> Editar
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- EDITAR DATOS DEL VETERINARIO-->
    <div class="bg-modal">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">Editar Veterinario</div>
                    </h3>
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <form action="/vet/editUser" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Rut</span>
                                        <input id="edit_rut_vet" name="rut" type="text" class="form-control" placeholder="Rut" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre</span>
                                        <input id="edit_nombre_vet" name="nombrecompleto" type="text" class="form-control" placeholder="Nombre Completo" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Correo Electrónico</span>
                                        <input id="edit_correo_vet" name="correo" type="email" class="form-control" placeholder="Correo Electrónico" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Naciemiento</span>
                                        <input id="edit_fechanacimiento_vet" name="fechanacimiento" type="date" class="form-control" placeholder="Fecha Nacimiento" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Teléfono</span>
                                        <input id="edit_telefono_vet" name="telefono" type="text" class="form-control" placeholder="Teléfono" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Dirección</span>
                                        <input id="edit_direccion_vet" name="direccion" type="text" class="form-control" placeholder="Dirección" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <!--que diferencia tiene ubicacion con direccion-->
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Región</span>
                                        <input id="edit_ubicacion_vet" name="ubicacion" type="text" class="form-control" placeholder="Región de procedencia" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción</span>
                                        <input id="edit_descripcion_vet" name="descripcion" type="text" class="form-control" placeholder="Agrege una descripción" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Especialidad</span>
                                        <input id="edit_especialidad_vet" name="especialidad" type="text" class="form-control" placeholder="Especialidad" aria-describedby="addon-wrapping" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Código Institución</span>
                                        <select name="rutinstitucion" id="edit_institucion_popup" class="form-select" aria-label="Institucion" onclick="nombreInst()"> </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre Institución</span>
                                        <input name="nombreinst" id="edit_nombre_institucion_popup" class="form-control" aria-label="Institucion" readonly> </select>
                                    </div>
                                </div>



                            </div>
                            <div class="col-12">
                                <button type="submit" id="edit-vet-popup-button" class=" btn btn-primary">
                                    <i class="far fa-save"></i> Guardar Cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="close">+</div>
        </div>
    </div>
    <script>
        const vetInfo = <%-JSON.stringify(veterinario)%>;

        function getVetInfo(vetInfo) {
            document.getElementById("view_rut").value = vetInfo.rut
            document.getElementById("view_nombre").value = vetInfo.nombrecompleto
            document.getElementById("view_correo").value = vetInfo.correo
            document.getElementById("view_fechanacimiento").value = vetInfo.fechanacimiento
            document.getElementById("view_telefono").value = vetInfo.telefono
            document.getElementById("view_direccion").value = vetInfo.direccion
            document.getElementById("view_ubicacion").value = vetInfo.ubicacion
            document.getElementById("view_descripcion").value = vetInfo.descripcion
            document.getElementById("view_especialidad").value = vetInfo.especialidad
            if (vetInfo.rutinstitucion == null) {
                document.getElementById("view_institucion").value = "No se encuentra asociado a una institución"
            } else {
                document.getElementById("view_institucion").value = vetInfo.rutinstitucion
            }
        }
        getVetInfo(vetInfo);

        const listaint = <%- JSON.stringify(instituciones) %>;
        var indexInstitucion = 0;

        function fillInstTable(listaint) {
            const selectInst = document.getElementById('edit_institucion_popup')

            for (let i = 0; i < listaint.length; i++) {
                if (listaint[i].rut == vetInfo.rutinstitucion) {
                    indexInstitucion = i;
                }
                let opcionrut = document.createElement("option")
                opcionrut.text = listaint[i].rut
                selectInst.add(opcionrut)
            }
        }
        fillInstTable(listaint);

        function nombreInst() {
            var Instactual = document.getElementById('edit_institucion_popup').selectedIndex;
            document.getElementById('edit_nombre_institucion_popup').value = listaint[Instactual].nombrecompleto;
            console.log(Instactual)
        }

        document.getElementById("edit-vet-button").addEventListener("click",
            function() {
                document.getElementById('edit_rut_vet').value = vetInfo.rut;
                document.getElementById('edit_nombre_vet').value = vetInfo.nombrecompleto;
                document.getElementById('edit_correo_vet').value = vetInfo.correo;
                document.getElementById('edit_fechanacimiento_vet').value = vetInfo.fechanacimiento;
                document.getElementById('edit_telefono_vet').value = vetInfo.telefono;
                document.getElementById('edit_direccion_vet').value = vetInfo.direccion;
                document.getElementById('edit_ubicacion_vet').value = vetInfo.ubicacion;
                document.getElementById('edit_descripcion_vet').value = vetInfo.descripcion;
                document.getElementById('edit_especialidad_vet').value = vetInfo.especialidad;
                document.getElementById('edit_institucion_popup').options.selectedindex = 0;
                document.getElementById('edit_nombre_institucion_popup').value = listaint[0].nombrecompleto;
                //Activando panel de editar
                document.querySelector(".bg-modal").style.display = "flex";
            }); //activar panel
        document.querySelector(".close").addEventListener("click",
            function() {
                document.querySelector('.bg-modal').style.display = "none";
            });
    </script>
</body>

</html>