<!DOCTYPE html>
<html>

<head>
    <title>Administrador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Sytlesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <!--Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
    <!-- Font Google Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Diario de Mascotas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin">Lista de Usuarios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section id="info-usuarios">
        <div class="container-fluid">
            <div class="row">
                <div class="name-viewer-home col-lg-6 col-md-4 col-sm-6">
                    <div class="col-12">
                        <h3>Control de Usuarios</h3>
                    </div>
                </div>
                <!--Boton agregar usuario-->
                <div class="col-lg-6 col-md-4 col-sm-6 text-right">
                    <div class="top-user-info">
                        <button id="add_user_button" type="button" class="btn btn-light">
                            <i class="fas fa-plus"></i> Nuevo Usuario
                        </button>
                    </div>
                </div>
                <!--Aca se despliega todos los usuarios registrados-->
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row white-box-transparent">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="tabla-usuarios" class="table table-light table-bordered table-hover table-striped">
                                        <thead class="bg-dark text-white">
                                            <th scope="row">Rut</th>
                                            <th scope="row">Nombre</th>
                                            <th scope="row">Correo electrónico</th>
                                            <th scope="row">Fecha de nacimiento</th>
                                            <th scope="row">Ver</th>
                                            <th scope="row">Editar</th>
                                        </thead>
                                        <tbody id="tbody-tabla-usuarios">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- AGREGAR USUARIOS -->
    <div class="bg-modal2">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">
                            Nuevo Usuario
                        </div>
                    </h3>
                </div>
                <div class="col-12">
                    <form action="/admin/saveUser" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Rut</span>
                                    <input required id="add_rut_admin" name="rut" type="text" class="form-control" placeholder="Rut Usuario" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Contraseña</span>
                                    <input required id="add_password_admin" name="password" type="password" class="form-control" placeholder="Contraseña Usuario" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre</span>
                                    <input id="add_nombre_admin" name="nombrecompleto" type="text" class="form-control" placeholder="Nombre Completo" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Correo Electrónico</span>
                                    <input id="add_correo_admin" name="correo" type="email" class="form-control" placeholder="Correo Electrónico" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Nacimiento</span>
                                    <input id="add_fechanacimiento_admin" name="fechanacimiento" type="date" class="form-control" placeholder="Fecha Nacimiento" aria-describedby="addon-wrapping">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Teléfono</span>
                                    <input id="add_telefono_admin" name="telefono" type="text" class="form-control" placeholder="9XXXXXXXX" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Dirección</span>
                                    <input id="add_direccion_admin" name="direccion" type="text" class="form-control" placeholder="Dirección" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <!--que diferencia tiene ubicacion con direccion-->
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Región</span>
                                    <input id="add_ubicacion_admin" name="ubicacion" type="text" class="form-control" placeholder="Región" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción</span>
                                    <input id="add_descripcion_admin" name="descripcion" type="text" class="form-control" placeholder="Descripción" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Tipo Usuario</span>
                                <select name="tipo" id="tipo_usuario_input_popup" onclick='revisarTipoNewUser();' class="form-select" aria-label="Estado activacion">
                                    <option >Administrador</option>
                                    <option >Institucion</option>
                                    <option >Veterinario</option>
                                    <option >Dueño</option>
                                </select>
                            </div>
                        </div>
                        <!-- Esto solo aparece si es un mantenedor y se tiene que seleccionar la empresa segun el nombre ? o codigo ?
                            Podemos organizar los datos como se ve abajo y mandar una string -->
                        <!-- Rol mantenedor -->
                        <div class="col-12">
                            <div class="new_user_area_text input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Area</span>
                                <input id=area_instit_input_popup name="area" type="text" class="form-control" placeholder="Area" aria-label="Rol" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="new_user_totalfunc_text input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Total Funcionarios</span>
                                <input id=func_instit_input_popup name="totalfunc" type="text" class="form-control" placeholder="Funcionarios" aria-label="Rol" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="new_user_totalpuestos_text input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Total Vacantes</span>
                                <input id=puestos_instit_input_popup name="totalpuestos" type="text" class="form-control" placeholder="Vacantes" aria-label="Rol" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="new_user_especialidad_text input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Especialidad</span>
                                <input id=especialidad_vet_input_popup name="especialidad" type="text" class="form-control" placeholder="Especialidad" aria-label="Rol" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="new_user_estado_text input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Estado</span>
                                <input id=estado_dueno_input_popup name="estado" type="text" class="form-control" placeholder="Estado" aria-label="Rol" aria-describedby="addon-wrapping">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" id="add-usuario-admin-button" class="btn btn-primary">
                            <i class="fas fa-save"></i> Agregar Usuario
                        </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="close2">+</div>
        </div>
    </div>
    <!-- EDITAR USUARIOS -->
    <div class="bg-modal">
        <div class="modal-content2">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <div id="text-action-title-popup">Editar Usuario</div>
                    </h3>
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <form action="/admin/editUser" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Rut</span>
                                        <input id="edit_rut_admin" name="rut" type="text" class="form-control" placeholder="Rut Usuario" aria-describedby="addon-wrapping" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Nombre</span>
                                        <input id="edit_nombre_admin" name="nombrecompleto" type="text" class="form-control" placeholder="Nombre Completo" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Correo Electrónico</span>
                                        <input id="edit_correo_admin" name="correo" type="email" class="form-control" placeholder="Correo Electrónico" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Fecha de Naciemiento</span>
                                        <input id="edit_fechanacimiento_admin" name="fechanacimiento" type="date" class="form-control" placeholder="Fecha Nacimiento" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Teléfono</span>
                                        <input id="edit_telefono_admin" name="telefono" type="text" class="form-control" placeholder="9XXXXXXXX" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Dirección</span>
                                        <input id="edit_direccion_admin" name="direccion" type="text" class="form-control" placeholder="Dirección" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <!--que diferencia tiene ubicacion con direccion-->
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Región</span>
                                        <input id="edit_ubicacion_admin" name="ubicacion" type="text" class="form-control" placeholder="Región" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text placeholder col-3" id="addon-wrapping">Descripción</span>
                                        <input id="edit_descripcion_admin" name="descripcion" type="text" class="form-control" placeholder="Descripción" aria-describedby="addon-wrapping">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" id="edit-usuario-admin-button" class=" btn btn-primary">
                                <i class="far fa-save"></i> Guardar
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="close">+</div>
        </div>
    </div>
    <script>
        const usuarios = <%-JSON.stringify(usuarios)%>;
        const admin = <%-JSON.stringify(admin)%>;

        function FillPageWithUsers(usuarios) {
            let tBodyUsuarios = document.getElementById("tbody-tabla-usuarios"); //Obten la tabla

            for (let i = 0; i < usuarios.length; i++) {
                const rutUserI = usuarios[i].rut;
                const emailUserI = usuarios[i].correo;
                const nombreUserI = usuarios[i].nombrecompleto;
                const fechaNacI = (usuarios[i].fechanacimiento).toString();
                console.log(fechaNacI)

                //Inserta una nueva fila en la tabla 
                let newUserIRowRef = tBodyUsuarios.insertRow(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newRutColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newNombreColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newCorreoColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a
                let newFechaNacColRef = newUserIRowRef.insertCell(-1);

                //Crea celdas o columna para la I-esima columna, esto hace referencia a boton editar
                let newUserDataColRef = newUserIRowRef.insertCell(-1);
                //Crea celdas o columna para la I-esima columna, esto hace referencia a boton editar
                let newEditarColRef = newUserIRowRef.insertCell(-1);
                //Asigna los valores a cada columna
                newRutColRef.textContent = rutUserI;
                newNombreColRef.textContent = nombreUserI;
                newCorreoColRef.textContent = emailUserI;
                newFechaNacColRef.textContent = fechaNacI;
                newUserDataColRef.innerHTML = '<button type="button"  id=button-edit-' + i + ' onClick="editUserPopup(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Ver</button>';
                newEditarColRef.innerHTML = '<button type="button"  id=button-edit-' + i + ' onClick="editUserPopup(this.id);" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Editar</button>';
            }
        }
        FillPageWithUsers(usuarios);

        function revisarTipoNewUser() {
            switch (document.getElementById('tipo_usuario_input_popup').value) {
                case "Administrador":
                    document.querySelector('.new_user_area_text').style.display = "none";
                    document.querySelector('.new_user_totalfunc_text').style.display = "none";
                    document.querySelector('.new_user_totalpuestos_text').style.display = "none"
                    document.querySelector('.new_user_especialidad_text').style.display = "none";
                    document.querySelector('.new_user_estado_text').style.display = "none";
                    break;
                case "Institucion":
                    document.querySelector('.new_user_area_text').style.display = "flex";
                    document.querySelector('.new_user_totalfunc_text').style.display = "flex";
                    document.querySelector('.new_user_totalpuestos_text').style.display = "flex"
                    document.querySelector('.new_user_especialidad_text').style.display = "none";
                    document.querySelector('.new_user_estado_text').style.display = "none";
                    break;
                case "Veterinario":
                    document.querySelector('.new_user_especialidad_text').style.display = "flex";
                    document.querySelector('.new_user_area_text').style.display = "none";
                    document.querySelector('.new_user_totalfunc_text').style.display = "none";
                    document.querySelector('.new_user_totalpuestos_text').style.display = "none";
                    document.querySelector('.new_user_estado_text').style.display = "none";
                    break;
                case "Dueño":
                    document.querySelector('.new_user_estado_text').style.display = "flex";
                    document.querySelector('.new_user_area_text').style.display = "none";
                    document.querySelector('.new_user_totalfunc_text').style.display = "none";
                    document.querySelector('.new_user_totalpuestos_text').style.display = "none";
                    document.querySelector('.new_user_especialidad_text').style.display = "none";
                    break;
            }
        }

        //Boton agregar usuarios
        document.getElementById("add_user_button").addEventListener('click',
            function() {
                document.querySelector('.bg-modal2').style.display = "flex";
                document.querySelector('.new_user_area_text').style.display = "none";
                document.querySelector('.new_user_totalfunc_text').style.display = "none";
                document.querySelector('.new_user_totalpuestos_text').style.display = "none";
                document.querySelector('.new_user_especialidad_text').style.display = "none";
                document.querySelector('.new_user_estado_text').style.display = "none";
            });
        //Cuando se cierra el agregar usuario
        document.querySelector(".close2").addEventListener("click",
            function() {
                document.querySelector('.bg-modal2').style.display = "none";
                document.getElementById("add_rut_admin").value = ""
                document.getElementById("add_nombre_admin").value = ""
                document.getElementById("add_correo_admin").value = ""
                document.getElementById("add_telefono_admin").value = ""
                document.getElementById("add_direccion_admin").value = ""
                document.getElementById("add_ubicacion_admin").value = ""
                document.getElementById("add_descripcion_admin").value = ""
                document.querySelector('.new_user_area_text').style.display = "none";
                document.querySelector('.new_user_totalfunc_text').style.display = "none";
                document.querySelector('.new_user_totalpuestos_text').style.display = "none"
                document.querySelector('.new_user_especialidad_text').style.display = "none";
                document.querySelector('.new_user_estado_text').style.display = "none";
                document.getElementById("tipo_usuario_input_popup").selectedIndex = 1 //Setea el menu de agregar como admin
            });

        function editUserPopup(user1) {
            var user2 = user1.split("-")
            document.getElementById('edit_rut_admin').value = usuarios[(parseInt(user2[2]))].rut;
            document.getElementById('edit_nombre_admin').value = usuarios[(parseInt(user2[2]))].nombrecompleto;
            document.getElementById('edit_correo_admin').value = usuarios[(parseInt(user2[2]))].correo;
            document.getElementById('edit_fechanacimiento_admin').value = usuarios[(parseInt(user2[2]))].fechanacimiento;
            document.getElementById('edit_telefono_admin').value = usuarios[(parseInt(user2[2]))].telefono;
            document.getElementById('edit_direccion_admin').value = usuarios[(parseInt(user2[2]))].direccion;
            document.getElementById('edit_ubicacion_admin').value = usuarios[(parseInt(user2[2]))].ubicacion;
            document.getElementById('edit_descripcion_admin').value = usuarios[(parseInt(user2[2]))].descripcion;
            //Activando panel de editar
            document.querySelector(".bg-modal").style.display = "flex";
        }
        //Al cerrar editar usuario
        document.querySelector(".close").addEventListener("click",
            function() {
                document.querySelector('.bg-modal').style.display = "none";
            });
    </script>
</body>

</html>