<!DOCTYPE html>
<html>
    <head>
        <title>Diario de Mascotas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS Sytlesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <!--Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
        </script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/d82979872c.js" crossorigin="anonymous"></script>
        <!-- Font Google 1 Squada One -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="content">
            <div class="container-fluid">
                <div class="row white-box-transparent">
                    <div class="col-12">
                        <!--Nombre usuario-->
                        <div class="row name-viewer-home">
                            <div id= nombreUsuario class="col-6"></div>
                            <script>
                                document.getElementById("nombreUsuario").innerHTML = "<h2>Usuario: <%=nombre%> </h2>";
                            </script>
                        </div>
                        <div class="col-12">
                            <h3>Mis Mascotas</h3>
                        </div>
                        <!-- boton agregar mascotas-->
                        <div class="col-12 text-right">
                            <div class="top-mascotas-info">
                                <button id=agregar-mascota-button type="button" class="btn btn-primary">Agregar Mascota
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!--Lo que puede ver el usuario de sus mascotas-->
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="tabla-mascotas" class="table table-lifht table-bordered table-hover table-striped">
                                    <thead class="bg-dark text-white">
                                        <th scope="row">ID</th>
                                        <th scope="row">Nombre</th>
                                        <th scope="row">Especie</th>
                                        <th scope="row">Raza</th>
                                        <th scope="row">Color</th>
                                        <th scope="row">Controles</th>
                                        <th scope="row">Editar</th>
                                        <th scope="row">Visualizar</th>
                                    </thead>
                                    <tbody id="tBody-mascotas"></tbody>                
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>